/**
 * 
 * Posts / Category CSS
 * 
 */

/* ------------------------------------------------------------------------- */
/*
/* Default
/*
/* ------------------------------------------------------------------------- */
div.posts-list
{
	margin-top: 10px;
}
div.filter-button
{
	position: absolute;
	right: 20px;
	top: 0;
}
	div.filter-button a.btn
	{
		font-size: 11px;
	}
/* ------------------------------------------------------------------------- */
