/**
 * 
 * Profile / Interests CSS
 * 
 */

/* ------------------------------------------------------------------------- */
/*
/* Default
/*
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------- */
/*
/* Layout
/*
/* ------------------------------------------------------------------------- */
h4.page-subtitle
{
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 20px;
	text-align: center;
}
/* ------------------------------------------------------------------------- */
