/**
 * 
 * AJAX / Profile / Get Settings CSS
 * 
 */

/* ------------------------------------------------------------------------- */
/*
/* Layout: Content
/*
/* ------------------------------------------------------------------------- */
div.settings-info .form-group
{
	margin-bottom: 10px;
}
div.settings-info label.title
{
	color: #0068A8;
	font-size: 12px;
	line-height: 1.8;
}
div.options label
{
	cursor: pointer;
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 0px;
	margin-left: 3px;
}
div.settings-info div.notification-item
{
	/*
	width: 45%;
	*/
}
/* ------------------------------------------------------------------------- */
