/**
 * 
 * AJAX / Profile / Get Interests CSS
 * 
 */

/* ------------------------------------------------------------------------- */
/*
/* Default
/*
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------- */
/*
/* Layout
/*
/* ------------------------------------------------------------------------- */
div.interests-item
{
	margin-bottom: 10px;
}
	div.interests-item label
	{
		cursor: pointer;
		font-size: 12px;
		font-weight: 600;
		margin-bottom: 0px;
		margin-left: 7px;
	}
/* ------------------------------------------------------------------------- */
