/**
 * 
 * Page CSS
 * 
 */

/* ------------------------------------------------------------------------- */
/*
/* Default
/*
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------- */
/*
/* Layout: Header
/*
/* ------------------------------------------------------------------------- */
div.navbar div.container div.navbar-logo
{
	margin-top: 24px;
}
	div.navbar-logo img
	{
		height: 30px;
		width: 161px;
	}
/* ------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------- */
/*
/* Layout: Content
/*
/* ------------------------------------------------------------------------- */
div.page-text-body
{
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(25, 25, 25, 0.2);
	padding: 16px;
	-moz-box-shadow: 0 1px 1px rgba(25, 25, 25, 0.2);
	-webkit-box-shadow: 0 1px 1px rgba(25, 25, 25, 0.2);
	-o-box-shadow: 0 1px 1px rgba(25, 25, 25, 0.2);
}
	div.page-text-body h3.page-title
	{
		letter-spacing: -1px;
		margin-bottom: 26px;
	}
	
	div.page-text-body p
	{
		font-size: 13px;
		line-height: 1.6;
	}
/* ------------------------------------------------------------------------- */



