/**
 * 
 * CSS
 * 
 */
/* ------------------------------------------------------------------------- */
/*
/* Default
/*
/* -------------------------------------------------------------------------- */
div.container-new-link-image
{
	background-size: 100%;
	background-repeat: no-repeat;
	height: 200px;
	max-height: 200px;
	text-align: center;
}
/* -------------------------------------------------------------------------- */
